#root {
  text-align: center;
  position: relative;
  top: 0;
  min-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}


/* Menu CSS */

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f04b4b;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  padding: 0 20px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.LoginButton {
  background: none;
  border: none;
  color: #ffff;
  font-size: 1rem;
  padding: 8px 16px;
}

.LoginButton:hover {
  background-color: #f95e5e;
  border-radius: 3px;
}

.LoginButton>svg {
  margin-right: 8px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-solid-blue {
  background-color: cyan;
  color: black;
}

.bg-solid-pink {
  background-color: pink;
  color: black;
}

.bg-solid-green {
  background-color: lightgreen;
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


.bold {
  font-weight: bold;
  margin-bottom: 1rem;
}

.smaller {
  font-size: 0.9rem;
  margin: 0.5rem;
}

/* .random-user {
  max-width:40%;
  margin: 0 auto;
} */
.randomUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  max-width: 70%;
  margin-top: .5rem;
  margin-left: 50%;
  margin-bottom: 0;

}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1rem;

}

.card-container-random {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1rem;
}

.custom-card {
  /* margin-top: 3.5rem; */
  /* margin: auto; */
  display: flex;
  /* width: 70%; */

}

.card-image {
  width: 30%;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}

.card-text {
  padding-right: 4rem;
  text-align: center;
  width: 70%;
  font-size: 16px;
}

.card-text p {
  font-size: 14px;
}

img {
  width: 100%;
}

.name {
  margin-top: 0.3rem;
}

.filterForm {
  margin-bottom: 1rem;

}

.filterForm input {
  padding: 0.3rem;
  margin: 0.5rem;
  width: 40%;
}

.filterForm select {
  padding: 0.3rem;
  margin: 0.5rem;
  width: 15%;
}

.button-change {
  padding: 0.3rem;
  margin: 0.5rem;
}

.button-change:hover {
  background-color: crimson;
  color: white;
}

.menu-image {
  cursor: pointer;
  width: 70px;
  border-radius: 50%;
  margin-top: 2rem;
}

.card-container-profile {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-intro {
  margin-bottom: 2rem;
}

.input-email,
.input-password {
  margin: 0.25rem;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.input-email label,
.input-password label {
  width: 100px;
}

.input-email input,
.input-password input {
  flex-grow: 1;
}

.input-submit {
  margin-top: 2rem;
  width: 150px;
  height: 25px;
  background-color: #f04b4b;
  border: none;
  border-radius: 0.25rem;
}

.input-submit:hover {
  border: 1px solid white;
  transform: scale(1.05);
}

.formEditSelf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.formGroup {
  width: 100%;
  margin-bottom: 1rem;
  padding-right: 15%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-label {
  /* width: 200px;
  margin-right: 10px;
  font-weight: bold; */
  margin-right: 10px;
  font-weight: bold;
  text-align: left;
  flex: 1;
}

.form-input {
  /* padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: auto;
  flex: 2; */
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: auto;
  flex: 2;
}

.card-self-infos {
  margin-top: .25rem;
  display: flex;
  justify-content: space-between;
}

.form-select {
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: auto;
  flex: 2;
}